RewriteEngine On
RewriteBase /

RewriteRule ^(tictactoe|flip7|mousefollow|fitnessweb|githubusers|moviesearch|randomusers|shopcart|spaceinvaders|lunarlander|historia-espania|oposicion-bombero)(/.*)?$ projects/$1$2 [L]
